<div class="row" ng-init="vm.getPreviousOrders()">
    <div class="basket">
        <div class="container container-table">
            <div class="row vertical-center-row">
                <div class="text-center col-md-8 col-md-offset-2">
                    <div class="well">
                        <table class="table">
                            <thead>
                            <tr>
                                <td>Order No</td>
                                <td>Date Ordered</td>
                                <td>Items Ordered</td>
                                <td>Total</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="order in vm.previousOrders">
                                <td>{{$index + 1}}</td>
                                <td>{{order.dateOrdered | date: 'dd/MM/yyyy'}}</td>
                                <td>{{order.items.length}}</td>
                                <td>{{order.total}}</td>
                                <td><a ng-click="vm.getOrder(order)">View Order</a></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
