<div class="row">
    <div class="basket">
        <div class="well">
            <div class="container container-table">
                <div class="row vertical-center-row">
                    <div class="text-center col-md-8 col-md-offset-2">

                        <div class="alert alert-success" role="alert">

                            <h3>Your new product has been succesfully added.</h3>

                        </div>
                        <a href="#!/addProduct" class="btn btn-success">Add Another</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>